
.panel {
	background-color: mc('blue-grey', '800');
	border: 1px solid mc('blue-grey', '800');
	border-bottom-left-radius: 8px;
	padding: 20px;
	color: mc('blue-grey','100');

	label {
		color: #FFF;
	}

}
